<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col col-12 col-sm-12 col-md-8">
      <div class="col col-12 col-sm-12 col-md-12">
        <h5 class="text-start">{{ movie.Title }}</h5>
      </div>
      <div class="col col-12 col-sm-12 col-md-12">
        <span class="text-start">
          {{ movie.Plot }}
        </span>
      </div>
      <div class="row">
        <div class="col col-sm-6 col-md-12 mt-2">
          <p class="mb-2"><strong>Actors </strong><span>{{ movie.Actors }}</span></p>
          <p class="mb-3"><strong>Review ⭐⭐⭐⭐⭐</strong>
        </div>
        <div class="col col-sm-6 col-md-12 d-flex flex-column align-items-center align-items-sm-start justify-content-center">
          <button type="submit" class="btn btn-primary">
            Favorite <i class="bi bi-heart-fill"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col col-sm-12 col-md-4 text-center">
      <img [src]="movie.Poster" class="img-fluid" [alt]="movie.Title">
    </div>
  </div>
  <div class="mt-4 mb-4">
    <button class="btn" (click)="goBack()"> <i class="bi bi-arrow-left"></i> Back</button>
  </div>
</div>

