<div class="container mt-3 ms-2">
  <div class="row justify-content-center">
    <div class="col col-12 col-sm-12 col-md-12">
      <h4>Movies Library</h4>
    </div>
    <div class="col col-12 col-sm-12 col-md-12">
      <div class="row">
        <div class="col col-12 col-sm-12 col-md-10 my-2">
          <input type="text" [(ngModel)]="searchQuery" placeholder="Ex: Avengers" class="form-control" name="searchQuery">
        </div>
        <div class="col col-12 col-sm-12 col-md-2 text-sm-end my-2 d-flex flex-row justify-content-start gap-2">
          <button class="btn btn-primary" (click)="search()">Search</button>
          <button class="btn btn-primary" (click)="clear()">Reset</button>
        </div>
      </div>
    </div>
  </div>
</div>
